<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DollarComputers_Assignment4.Properties.Settings.comp1004namesConnectionString"
            connectionString="Data Source=comp1004-kinjal.database.windows.net;Initial Catalog=comp1004names;Persist Security Info=True;User ID=kinjal;Password=YOpatel56"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>